<input type="checkbox" id="nav-toggle">
   <div class="sidebar">
    <div class="sidebar-brand">
        <h2 class="color1"><span ><img class="logo" src="/images/cyber-mart-high-resolution-logo-black-on-transparent-background.png" alt=""></span></h2>
    </div>
 
    <div class="sidebar-menu">
         <ul>
            <li>
                <a href="/dashborad" id="dashborad" onclick="dashborad()"><span class="las la-igloo"></span><span> Dashboard</span></a>
            </li>

            <li>
                <a href="/customers" id="customers"  onclick="customers()"><span class="las la-users"></span><span> Customers</span></a>
            </li>

            <li>
                <a href="/ordes" id="ordes"  onclick="ordes()"><span class="las la-shopping-bag"></span><span> Orders</span></a>
            </li>

            <li>
                <a href="/Inventory" id="Inventory"  onclick="Inventory()"><span class="las la-receipt"></span><span> Inventory</span></a>
            </li>

            <li>
                <a href="/offers" id="offers"  onclick="offers()"><span class="las la-tag"></span><span> Offers</span></a>
            </li>

            <li>
                <a href="/addUser" id="addUser"  onclick="addUser()"><span class="las la-user"></span><span>Add</span></a>
            </li>

            <li>
                <a href="/newselterad" id="newselterad"  onclick="newselterad()"><span class="las la-user"></span><span>newselter</span></a>
            </li>

    
         </ul>
    </div>
   </div>

   <div class="main-content">
    <header>
       <h1 class="color">
        <label for="nav-toggle">
            <span class="las la-bars"></span>
        </label>
       </h1>


       <div class="user-wrapper">
         <div>
            <a href="/profile"><h4><%=user.fullname%></h4></a>
            <small><%=user.Type%></small>
         </div>      
        </div>

    </header>