<input type="checkbox" id="nav-toggle">
   <div class="sidebar">
    <div class="sidebar-brand">
        <h2 class="color1"><span ><img class="logo" src="/images/cyber-mart-high-resolution-logo-black-on-transparent-background.png" alt=""></span></h2>
    </div>
 
    <div class="sidebar-menu">
         <ul>
            <li>
                <a href="/dashborad" id="dashborad" onclick="dashborad()"><span class="las la-igloo"></span><span> Dashboard</span></a>
            </li>

            <li>
                <a href="/customers" id="customers"  onclick="customers()"><span class="las la-users"></span><span> Customers</span></a>
            </li>

            <li>
                <a href="/ordes" id="ordes"  onclick="ordes()"><span class="las la-shopping-bag"></span><span> Orders</span></a>
            </li>

            <li>
                <a href="/Inventory" id="Inventory"  onclick="Inventory()"><span class="las la-receipt"></span><span> Inventory</span></a>
            </li>

            <li>
                <a href="/Task" id="Task"  onclick="Task()"><span class="las la-clipboard-list"></span><span> Tasks</span></a>
            </li>

            <li>
                <a href="/offers" id="offers"  onclick="offers()"><span class="las la-tag"></span><span> Offers</span></a>
            </li>

            <li>
                <a href="/addUser" id="addUser"  onclick="addUser()"><span class="las la-user"></span><span>Add</span></a>
            </li>

    
         </ul>
    </div>
   </div>

   <div class="main-content">
    <header>
       <h1 class="color">
        <label for="nav-toggle">
            <span class="las la-bars"></span>
        </label>
        DashBoard
       </h1>

       <div class="search-wrapper">
         <span class="las la-search"></span>
         <input type="search" placeholder="Search here" placeholder="Search here" onkeyup="sendData(this)">
       </div>
       <script>
        function sendData(e){
            const searchResults=document.getElementById('searchResults');
          let match=e.value.match(/^[a-zA-Z ]*/);
          let match2=e.value.match(/\s*/);
          if(match2[0]===e.value){
            document.getElementById('simg').innerHTML='';
            document.getElementById('sc').innerHTML='';
            document.getElementById('st').innerHTML='';
            document.getElementById('sp').innerHTML='';
            document.getElementById('se').innerHTML='';
            document.getElementById('strash').innerHTML='';
            
            return;
          }
          if(match[0]===e.value){
            fetch('getItems',{
    method:'POST',
    headers:{'Content-Type':'application/json'},
    body: JSON.stringify({payload: e.value}),
        }).then(res=>res.json()).then(data=>{
let payload=data.payload;
            document.getElementById('simg').innerHTML='';
            document.getElementById('sc').innerHTML='';
            document.getElementById('st').innerHTML='';
            document.getElementById('sp').innerHTML='';
            document.getElementById('se').innerHTML='';
            document.getElementById('strash').innerHTML='';
if(payload.length<1){
  searchResults.innerHTML='<p> Sorry. Nothing Found.</p>';
  return;
}
payload.forEach((item,index)=>{
    document.getElementById('simg').innerHTML +=`<img src="../images/${item.image}" alt=" photo" id="simg">`;
    document.getElementById('sc').innerHTML=`${item.catcategory}`;
    document.getElementById('st').innerHTML=`${item.title}`;
    document.getElementById('sp').innerHTML=`${item.Price}`;
     document.getElementById('se').innerHTML=`<a href="/edititem/${item._id}" id="edit"><i class="fa-regular fa-pen-to-square"></i></a>`;
    document.getElementById('strash').innerHTML=`<a href="/Inventory/${item._id}" id="trash"><i class="fa-solid fa-trash"></i></a>`;
});  
          });
          return;
        }
        document.getElementById('simg').innerHTML='';
            document.getElementById('sc').innerHTML='';
            document.getElementById('st').innerHTML='';
            document.getElementById('sp').innerHTML='';
            document.getElementById('se').innerHTML='';
            document.getElementById('strash').innerHTML='';
            searchResults.innerHTML='';
    }
    </script>

       <div class="user-wrapper">
         <a href="/profile"><img width="40px" height="40px" src="../image/blank-profile-picture-973460_1280.webp" alt=""></a>
         <div>
            <h4>Admin name</h4>
            <small>Super admin</small>
         </div>      
        </div>

    </header>