<!DOCTYPE html>
<html>
<head>
  <title>Computer and Mobile Shop</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/filter.css">
</head>
<body>
  <form id="filter-form">
    <label for="category-select">Category:</label>
    <select id="category-select" name="category">
      <option value="">All</option>
      <option value="computers">Computers</option>
      <option value="mobiles">Mobiles</option>
    </select>
    <label for="price-range">Price:</label>
    <input type="range" id="price-range" name="price" min="0" max="1000" value="0">
    <label for="brand-checkboxes">Brand:</label>
    <input type="checkbox" id="apple-checkbox" name="brand" value="apple">
    <label for="apple-checkbox">Apple</label>
    <input type="checkbox" id="samsung-checkbox" name="brand" value="samsung">
    <label for="samsung-checkbox">Samsung</label>
    <label for="os-checkboxes">Operating System:</label>
    <input type="checkbox" id="windows-checkbox" name="os" value="windows">
    <label for="windows-checkbox">Windows</label>
    <input type="checkbox" id="ios-checkbox" name="os" value="ios">
    <label for="ios-checkbox">iOS</label>
    <input type="submit" value="Filter">
  </form>
  <div id="products-container">
    <!-- Products will be dynamically added here -->
  </div>
</body>
</html>