<link rel="stylesheet" href="../css/ADMIN-ADD">


<label for="Image">Image:</label>
                <div class="upload-container">
                    <input type="file" id="img" />
              </div>
<br>


