<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/addUser.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <title>Add user</title>
    <link rel="shortcut icon" type="x-icon" href="../image/4151901.png">
    <!--jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../scripts/adminnav.js"></script>
    <script src="../scripts/ajax.js"></script>
    <script src="../scripts/sign.js"></script>
</head>
<body>

    <%- include("./partials/adminheader.ejs") %>
            <main>
              <form onsubmit="return validatesubmit(this) " id="adduser" action="/adduserform" method="post">
                      <label for="fullname"  class="lab">Full Name</label><br>
                      <input type="text"  name="fullname" id="fullname" class="in" placeholder="Full Name" required class="textBox"><br>
                  
                 
                      <label for="mail"  class="lab">Email Address</label><br>
                      <input type="text" id="mail" type="email" class="in"  placeholder="Email" name="mail" required class="textBox"><br>
                      <label for="mail" id="errormail" ></label>
                      <div id="result"></div>
                        
             
                
                      <label for="password"  class="lab">Password</label><br>
                      <input type="Password"  id="password" class="in" placeholder="Password" name="password" required class="textBox">
                      <label id="errorpassword"></label><br>
                    
                  
                         
              
                      <label for="cpassword"  class="lab">confirm password</label><br>
                      <input type="Password" id="cpassword" class="in" placeholder="confirm password" name="cpassword" required class="textBox">
                      <label id="pwcErr"></label><br>
                     
                  
            
                                          
                  
                      <label for="dat"  class="lab">Age</label><br>
                      <input id="dat" name="Age" type="date" class="in"  value="dob" required class="textBox"><br>
                      <label id="errordate"></label>

                      
                      
                      <div>
                        <legend>Choose your gender:</legend><br>
                          <div>
                        <label for="male">Male</label>
                          <input type="radio" name="gender" id="male" value="male">
                        </div>
                        <div>
                          <label for="female">Female</label>
                          <input type="radio" name="gender" id="female" value="female">
                        </div>
                    </div>
                   
    
                  <div class="submit-btn"><button>Submit</button></div>
                  <label for="type">Role :</label>
                  <select type="text" id="type" name="type">
                    <option value="user">User</option>
                    <option value="admin">Admin</option>
                 
              </form>     
          </main> 
        </body>