<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/ADMIN add.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <title>Add Item</title>
    <link rel="shortcut icon" type="x-icon" href="../image/4151901.png">
</head>
<body>
    <%- include("./partials/adminheader.ejs") %>
<main>
    <main>
        
            <form id="add-form" method="post" enctype="multipart/form-data">
                <label for="title">Title :</label>
                <input type="text" id="title" name="title"><br>
        
                <label for="Price">Price :</label>
                <input type="text" id="price" name="Price"><br>


                <label for="category">category :</label>
                <select type="text" id="category" name="category">
                  <option value="laptop">laptop</option>
                  <option value="smartphone">smartphone</option>
                  
                </select>


                <label for="brand">brand :</label>
                <input type="text" id="brand" name="brand"><br>

                <label for="description">Description :</label>
                <textarea id="description" name="description"></textarea><br>

                
                <label for="Image">Image :</label>
                <input type="file" name="image"/>
                
               
        
               
        
                
        
                <input type="submit" class="btn" value="submit" onaction="uploadFiles()" >
            </form> 
            </table>
     </main>
</main>
<!-- <script>
   /* function uploadFiles() {
    var files = document.getElementById('file_upload').files;
    if(files.length==0){
        alert("Please first choose or drop any file(s)...");
        return;
    }
    var filenames="";
    for(var i=0;i<files.length;i++){
        filenames+=files[i].name+"\n";
    }
    alert("Selected file(s) :\n____________________\n"+filenames);
}
</script> -->

</body>
</html>
