<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/chattab.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <title>Chat</title>
    <link rel="shortcut icon" type="x-icon" href="../image/4151901.png">
</head>
<body>
  <%- include("./partials/adminheader.ejs") %>
     <main>
        <div class="product">
            <h3>Product Name</h3>
            <p>Product Description</p>
            <p>Price: $10</p>
            <button class="add-to-cart">Add to Cart</button>
            <button class="remove-from-cart">Remove from Cart</button>
          </div>
          
          <div class="cart">
            <h3>Cart</h3>
            <ul></ul>
            <p>Total: $0</p>
          </div>
     </main>
</body>
</html>