<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/customersupport.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <title>customersupport</title>
    <link rel="shortcut icon" type="x-icon" href="../image/4151901.png">
</head>
<body>
    <%- include("./partials/adminheader.ejs") %>
     <main>
        <a href="/chattab"><div class="chat">
            <div class="person">
                 <div><img class="image" src="https://picsum.photos/200/300" alt=""></div>
                 <div class="person-text"><h4>Ahmed</h4><p>why is my order late</p></div>
            </div>
        </div></a>
        <a href="/chattab"><div class="chat">
            <div class="person">
                 <div><img class="image" src="https://picsum.photos/200/300" alt=""></div>
                 <div class="person-text"><h4>Ahmed</h4><p>why is my order late</p></div>
            </div>
        </div></a>
        <a href="/chattab"><div class="chat">
            <div class="person">
                 <div><img class="image" src="https://picsum.photos/200/300" alt=""></div>
                 <div class="person-text"><h4>Ahmed</h4><p>why is my order late</p></div>
            </div>
        </div></a>
        <a href="/chattab"><div class="chat">
            <div class="person">
                 <div><img class="image" src="https://picsum.photos/200/300" alt=""></div>
                 <div class="person-text"><h4>Ahmed</h4><p>why is my order late</p></div>
            </div>
        </div></a>
     </main>
</body>
</html>