<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>smartphonespage</title>
    <link rel="shortcut icon" type="x-icon" href="../images/4151901.png">
    <link rel="stylesheet" href="../css/discount.css">
    <link rel="stylesheet" href="https://kit.fontawesome.com/e390cab89c.css">
    <script src="https://kit.fontawesome.com/e390cab89c.js" crossorigin="anonymous"></script>
</head>
<body id="body">
   
    <%- include("./partials/header.ejs") %>
    <%- include("./partials/chat.ejs") %>



        <div id="mySidenav" class="sidenav">
            <h1 id="carth">Cart</h1>
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    
            <section  id="productcart" >
                <div class="pro-container">
                    
                    <div class="pro">
                        <img src="../images/dell g15/Annotation 2023-03-11 144934.png" alt=" photo">
                        <div class="des">
                                <span>Dell</span>
                                <h5>Dell g15</h5>
                                <div class="star">
                                
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                
                                </div>
                                <h5>$2100</h5>
                        </div>
                        
                </div>
                </div>
    
                <button class="checkout-button">Checkout</button>
                
                </section>
    
            
          </div>
    

         

      <div class="space">
       
        <div class="spacestyle">
        
           <div id="pr">Discount Up To <span>50%</span></div> 
        </div>
        
                </div>
            
        <section  id="product1" class="section-p1">
            <div class="pro-container">


                <%- include("./partials/card.ejs") %>
                
           </div>
            </section>
            <section  id="product1" class="section-p1">
                <h2>Apple labtops</h2>
                <div class="pro-container">
            
            <div class="pro">
                <img src="../images/dell g15/Annotation 2023-03-11 144934.png" alt=" photo">
            <div class="des">
           <span>Dell</span>
 <h5>Dell g15</h5>
            <div class="star">
            
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            
            </div>
            <h5><s style="color: red;">$1100</s><br>$900</h5>
            </div>
            <a href="/cart" id="cart"><i class="fa-solid fa-cart-shopping"></i></a>
            <a href="/wishlist" id="wish"><i class="fa-solid fa-heart"></i></a>
            </div>
            
            <div class="pro">
                <img src="../images/dell g15/Annotation 2023-03-11 144934.png" alt=" photo">
            <div class="des">
           <span>Dell</span>
 <h5>Dell g15</h5>
            <div class="star">
            
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            
            </div>
            <h5><s style="color: red;">$1100</s><br>$900</h5>
            </div>
            <a href="#" id="cart"><i class="fa-solid fa-cart-shopping"></i></a>
            <a href="" id="wish"><i class="fa-solid fa-heart"></i></a>
            </div>
            
            <div class="pro">
                <img src="../images/dell g15/Annotation 2023-03-11 144934.png" alt=" photo">
            <div class="des">
           <span>Dell</span>
 <h5>Dell g15</h5>
            <div class="star">
            
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            
            </div>
            <h5><s style="color: red;">$1100</s><br>$900</h5>
            </div>
            <a href="#" id="cart"><i class="fa-solid fa-cart-shopping"></i></a>
            <a href="" id="wish"><i class="fa-solid fa-heart"></i></a>
            </div>
            
            <div class="pro">
                <img src="../images/dell g15/Annotation 2023-03-11 144934.png" alt=" photo">
            <div class="des">
           <span>Dell</span>
 <h5>Dell g15</h5>
            <div class="star">
            
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            
            </div>
            <h5><s style="color: red;">$1100</s><br>$900</h5>
            </div>
            <a href="#" id="cart"><i class="fa-solid fa-cart-shopping"></i></a>
            <a href="" id="wish"><i class="fa-solid fa-heart"></i></a>
            </div>
            
            
            <div class="pro">
                <img src="../images/dell g15/Annotation 2023-03-11 144934.png" alt=" photo">
            <div class="des">
           <span>Dell</span>
 <h5>Dell g15</h5>
            <div class="star">
            
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            
            </div>
            <h5><s style="color: red;">$1100</s><br>$900</h5>
            </div>
            <a href="#" id="cart"><i class="fa-solid fa-cart-shopping"></i></a>
            <a href="" id="wish"><i class="fa-solid fa-heart"></i></a>
            </div>
            
            
            <div class="pro">
                <img src="../images/dell g15/Annotation 2023-03-11 144934.png" alt=" photo">
            <div class="des">
           <span>Dell</span>
 <h5>Dell g15</h5>
            <div class="star">
            
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            
            </div>
            <h5><s style="color: red;">$1100</s><br>$900</h5>
            </div>
            <a href="#" id="cart"><i class="fa-solid fa-cart-shopping"></i></a>
            <a href="" id="wish"><i class="fa-solid fa-heart"></i></a>
            </div>
            
            <div class="pro">
                <img src="../images/dell g15/Annotation 2023-03-11 144934.png" alt=" photo">
            <div class="des">
           <span>Dell</span>
 <h5>Dell g15</h5>
            <div class="star">
            
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            
            </div>
            <h5><s style="color: red;">$1100</s><br>$900</h5>
            </div>
            <a href="#" id="cart"><i class="fa-solid fa-cart-shopping"></i></a>
            <a href="" id="wish"><i class="fa-solid fa-heart"></i></a>
            </div>
            
            
            <div class="pro">
                <img src="../images/dell g15/Annotation 2023-03-11 144934.png" alt=" photo">
            <div class="des">
           <span>Dell</span>
 <h5>Dell g15</h5>
            <div class="star">
            
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            
            </div>
            <h5><s style="color: red;">$1100</s><br>$900</h5>
            </div>
            <a href="#" id="cart"><i class="fa-solid fa-cart-shopping"></i></a>
            <a href="" id="wish"><i class="fa-solid fa-heart"></i></a>
            </div>
            <div class="pro">
            <img src="../images/dell g15/Annotation 2023-03-11 144934.png" alt=" photo">
        <div class="des">
        <span>Dell</span>
 <h5>Dell g15</h5>
        <div class="star">
        
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        
        </div>
        <h5><s style="color: red;">$1100</s><br>$900</h5>
        </div>
        <a href="/cart" id="cart"><i class="fa-solid fa-cart-shopping"></i></a>
            <a href="/wishlist" id="wish"><i class="fa-solid fa-heart"></i></a>
        </div>

        <div class="pro">
            <img src="../images/dell g15/Annotation 2023-03-11 144934.png" alt=" photo">
        <div class="des">
        <span>Dell</span>
 <h5>Dell g15</h5>
        <div class="star">
        
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        
        </div>
        <h5><s style="color: red;">$1100</s><br>$900</h5>
        </div>
        <a href="#" id="cart"><i class="fa-solid fa-cart-shopping"></i></a>
            <a href="" id="wish"><i class="fa-solid fa-heart"></i></a>
        </div>

        <div class="pro">
        <img src="../images/dell g15/Annotation 2023-03-11 144934.png" alt=" photo">
    <div class="des">
    <span>Dell</span>
 <h5>Dell g15</h5>
    <div class="star">
    
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    
    </div>
    <h5><s style="color: red;">$1100</s><br>$900</h5>
    </div>
    <a href="#" id="cart"><i class="fa-solid fa-cart-shopping"></i></a>
            <a href="" id="wish"><i class="fa-solid fa-heart"></i></a>
    </div>
            
            </div>
            
        </section>


        <div class="space">
<div class="spacestyle">


</div>

        </div>

        <section  id="product1" class="section-p1">
            <h2>Lenovo laptops</h2>
            <div class="pro-container">
            
                <div class="pro">
                    <img src="../images/dell g15/Annotation 2023-03-11 144934.png" alt=" photo">
            <div class="des">
           <span>Dell</span>
 <h5>Dell g15</h5>
            <div class="star">
            
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            
            </div>
            <h5><s style="color: red;">$1100</s><br>$900</h5>
                </div>
                <a href="#" id="cart"><i class="fa-solid fa-cart-shopping"></i></a>
                <a href="" id="wish"><i class="fa-solid fa-heart"></i></a>
            </div>
            
            <div class="pro">
                <img src="../images/dell g15/Annotation 2023-03-11 144934.png" alt=" photo">
            <div class="des">
           <span>Dell</span>
 <h5>Dell g15</h5>
            <div class="star">
            
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            
            </div>
            <h5><s style="color: red;">$1100</s><br>$900</h5>
            </div>
            <a href="#" id="cart"><i class="fa-solid fa-cart-shopping"></i></a>
            <a href="" id="wish"><i class="fa-solid fa-heart"></i></a>
            </div>
            
            <div class="pro">
                <img src="../images/dell g15/Annotation 2023-03-11 144934.png" alt=" photo">
            <div class="des">
           <span>Dell</span>
 <h5>Dell g15</h5>
            <div class="star">
            
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            
            </div>
            <h5><s style="color: red;">$1100</s><br>$900</h5>
            </div>
            <a href="#" id="cart"><i class="fa-solid fa-cart-shopping"></i></a>
            <a href="" id="wish"><i class="fa-solid fa-heart"></i></a>
            </div>
            
            <div class="pro">
                <img src="../images/dell g15/Annotation 2023-03-11 144934.png" alt=" photo">
            <div class="des">
           <span>Dell</span>
 <h5>Dell g15</h5>
            <div class="star">
            
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            
            </div>
            <h5><s style="color: red;">$1100</s><br>$900</h5>
            </div>
            <a href="#" id="cart"><i class="fa-solid fa-cart-shopping"></i></a>
            <a href="" id="wish"><i class="fa-solid fa-heart"></i></a>
            </div>
            
            <div class="pro">
                <img src="../images/dell g15/Annotation 2023-03-11 144934.png" alt=" photo">
            <div class="des">
           <span>Dell</span>
 <h5>Dell g15</h5>
            <div class="star">
            
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            
            </div>
            <h5><s style="color: red;">$1100</s><br>$900</h5>
            </div>
            <a href="#" id="cart"><i class="fa-solid fa-cart-shopping"></i></a>
            <a href="" id="wish"><i class="fa-solid fa-heart"></i></a>
            </div>
            
            
            <div class="pro">
                <img src="../images/dell g15/Annotation 2023-03-11 144934.png" alt=" photo">
            <div class="des">
           <span>Dell</span>
 <h5>Dell g15</h5>
            <div class="star">
            
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            
            </div>
            <h5><s style="color: red;">$1100</s><br>$900</h5>
            </div>
            <a href="#" id="cart"><i class="fa-solid fa-cart-shopping"></i></a>
            <a href="" id="wish"><i class="fa-solid fa-heart"></i></a>
            </div>
            
            
            <div class="pro">
                <img src="../images/dell g15/Annotation 2023-03-11 144934.png" alt=" photo">
            <div class="des">
           <span>Dell</span>
 <h5>Dell g15</h5>
            <div class="star">
            
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            
            </div>
            <h5><s style="color: red;">$1100</s><br>$900</h5>
            </div>
            <a href="#" id="cart"><i class="fa-solid fa-cart-shopping"></i></a>
            <a href="" id="wish"><i class="fa-solid fa-heart"></i></a>
            </div>
            
            <div class="pro">
                <img src="../images/dell g15/Annotation 2023-03-11 144934.png" alt=" photo">
            <div class="des">
           <span>Dell</span>
 <h5>Dell g15</h5>
            <div class="star">
            
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            
            </div>
            <h5><s style="color: red;">$1100</s><br>$900</h5>
            </div>
            <a href="#" id="cart"><i class="fa-solid fa-cart-shopping"></i></a>
            <a href="" id="wish"><i class="fa-solid fa-heart"></i></a>
            </div>
            
            
            <div class="pro">
                <img src="../images/dell g15/Annotation 2023-03-11 144934.png" alt=" photo">
            <div class="des">
           <span>Dell</span>
 <h5>Dell g15</h5>
            <div class="star">
            
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            
            </div>
            <h5><s style="color: red;">$1100</s><br>$900</h5>
            </div>
            <a href="#" id="cart"><i class="fa-solid fa-cart-shopping"></i></a>
            <a href="" id="wish"><i class="fa-solid fa-heart"></i></a>
            </div>
            <div class="pro">
            <img src="../images/dell g15/Annotation 2023-03-11 144934.png" alt=" photo">
        <div class="des">
        <span>Dell</span>
 <h5>Dell g15</h5>
        <div class="star">
        
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        
        </div>
        <h5><s style="color: red;">$1100</s><br>$900</h5>
        </div>
        <a href="#" id="cart"><i class="fa-solid fa-cart-shopping"></i></a>
            <a href="" id="wish"><i class="fa-solid fa-heart"></i></a>
        </div>

        <div class="pro">
            <img src="../images/dell g15/Annotation 2023-03-11 144934.png" alt=" photo">
        <div class="des">
        <span>Dell</span>
 <h5>Dell g15</h5>
        <div class="star">
        
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        
        </div>
        <h5><s style="color: red;">$1100</s><br>$900</h5>
        </div>
        <a href="#" id="cart"><i class="fa-solid fa-cart-shopping"></i></a>
            <a href="" id="wish"><i class="fa-solid fa-heart"></i></a>
        </div>

        <div class="pro">
        <img src="../images/dell g15/Annotation 2023-03-11 144934.png" alt=" photo">
    <div class="des">
    <span>Dell</span>
 <h5>Dell g15</h5>
    <div class="star">
    
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    
    </div>
    <h5><s style="color: red;">$1100</s><br>$900</h5>
    </div>
    <a href="#" id="cart"><i class="fa-solid fa-cart-shopping"></i></a>
            <a href="" id="wish"><i class="fa-solid fa-heart"></i></a>
    </div>
            
            </div>
            
        </section>

        <div class="space">
            <div class="spacestyle">
            
            
            </div>
            
                    </div>

                    <section  id="product1" class="section-p1">
                        <h2>DELL laptops</h2>
                        <div class="pro-container">
                        
                            <div class="pro">
                                <img src="../images/mobiles/samsung.jpeg" alt=" photo">
                        <div class="des">
                        <span>Samsung</span>
 <h5>Samsung Galaxy s22</h5>
                        <div class="star">
                        
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        
                        </div>
                        <h5><s style="color: red;">$1100</s><br>$900</h5>
                            </div>
                            <a href="#" id="cart"><i class="fa-solid fa-cart-shopping"></i></a>
            <a href="" id="wish"><i class="fa-solid fa-heart"></i></a>
                        </div>
                        
                        <div class="pro">
                            <img src="../images/mobiles/samsung.jpeg" alt=" photo">
                        <div class="des">
                        <span>Samsung</span>
 <h5>Samsung Galaxy s22</h5>
                        <div class="star">
                        
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        
                        </div>
                        <h5><s style="color: red;">$1100</s><br>$900</h5>
                        </div>
                        <a href="#" id="cart"><i class="fa-solid fa-cart-shopping"></i></a>
            <a href="" id="wish"><i class="fa-solid fa-heart"></i></a>
                        </div>
                        
                        <div class="pro">
                            <img src="../images/mobiles/samsung.jpeg" alt=" photo">
                        <div class="des">
                        <span>Samsung</span>
 <h5>Samsung Galaxy s22</h5>
                        <div class="star">
                        
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        
                        </div>
                        <h5><s style="color: red;">$1100</s><br>$900</h5>
                        </div>
                        <a href="#" id="cart"><i class="fa-solid fa-cart-shopping"></i></a>
            <a href="" id="wish"><i class="fa-solid fa-heart"></i></a>
                        </div>
                        
                        <div class="pro">
                            <img src="../images/mobiles/samsung.jpeg" alt=" photo">
                        <div class="des">
                        <span>Samsung</span>
 <h5>Samsung Galaxy s22</h5>
                        <div class="star">
                        
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        
                        </div>
                        <h5><s style="color: red;">$1100</s><br>$900</h5>
                        </div>
                        <a href="#" id="cart"><i class="fa-solid fa-cart-shopping"></i></a>
            <a href="" id="wish"><i class="fa-solid fa-heart"></i></a>
                        </div>
                        
                        <div class="pro">
                            <img src="../images/mobiles/samsung.jpeg" alt=" photo">
                        <div class="des">
                        <span>Samsung</span>
 <h5>Samsung Galaxy s22</h5>
                        <div class="star">
                        
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        
                        </div>
                        <h5><s style="color: red;">$1100</s><br>$900</h5>
                        </div>
                        <a href="#" id="cart"><i class="fa-solid fa-cart-shopping"></i></a>
            <a href="" id="wish"><i class="fa-solid fa-heart"></i></a>
                        </div>
                        
                        
                        <div class="pro">
                            <img src="../images/mobiles/samsung.jpeg" alt=" photo">
                        <div class="des">
                        <span>Samsung</span>
 <h5>Samsung Galaxy s22</h5>
                        <div class="star">
                        
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        
                        </div>
                        <h5><s style="color: red;">$1100</s><br>$900</h5>
                        </div>
                        <a href="#" id="cart"><i class="fa-solid fa-cart-shopping"></i></a>
            <a href="" id="wish"><i class="fa-solid fa-heart"></i></a>
                        </div>
                        
                        
                        <div class="pro">
                            <img src="../images/mobiles/samsung.jpeg" alt=" photo">
                        <div class="des">
                        <span>Samsung</span>
 <h5>Samsung Galaxy s22</h5>
                        <div class="star">
                        
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        
                        </div>
                        <h5><s style="color: red;">$1100</s><br>$900</h5>
                        </div>
                        <a href="#" id="cart"><i class="fa-solid fa-cart-shopping"></i></a>
            <a href="" id="wish"><i class="fa-solid fa-heart"></i></a>
                        </div>
                        
                        <div class="pro">
                            <img src="../images/mobiles/samsung.jpeg" alt=" photo">
                        <div class="des">
                        <span>Samsung</span>
 <h5>Samsung Galaxy s22</h5>
                        <div class="star">
                        
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        
                        </div>
                        <h5><s style="color: red;">$1100</s><br>$900</h5>
                        </div>
                        <a href="#" id="cart"><i class="fa-solid fa-cart-shopping"></i></a>
            <a href="" id="wish"><i class="fa-solid fa-heart"></i></a>
                        </div>
                        
                        
                        <div class="pro">
                            <img src="../images/mobiles/samsung.jpeg" alt=" photo">
                        <div class="des">
                        <span>Samsung</span>
 <h5>Samsung Galaxy s22</h5>
                        <div class="star">
                        
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        
                        </div>
                        <h5><s style="color: red;">$1100</s><br>$900</h5>
                        </div>
                        <a href="#" id="cart"><i class="fa-solid fa-cart-shopping"></i></a>
            <a href="" id="wish"><i class="fa-solid fa-heart"></i></a>
                        </div>
                        <div class="pro">
                        <img src="../images/mobiles/samsung.jpeg" alt=" photo">
                    <div class="des">
                    <span>Apple</span>
                    <h5>Iphone 12 pro max</h5>
                    <div class="star">
                    
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    
                    </div>
                    <h5><s style="color: red;">$1100</s><br>$900</h5>
                    </div>
                    <a href="#" id="cart"><i class="fa-solid fa-cart-shopping"></i></a>
            <a href="" id="wish"><i class="fa-solid fa-heart"></i></a>
                    </div>
            
                    <div class="pro">
                        <img src="../images/mobiles/samsung.jpeg" alt=" photo">
                    <div class="des">
                    <span>Apple</span>
                    <h5>Iphone 12 pro max</h5>
                    <div class="star">
                    
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    
                    </div>
                    <h5><s style="color: red;">$1100</s><br>$900</h5>
                    </div>
                    <a href="#" id="cart"><i class="fa-solid fa-cart-shopping"></i></a>
            <a href="" id="wish"><i class="fa-solid fa-heart"></i></a>
                    </div>
            
                    <div class="pro">
                    <img src="../images/mobiles/samsung.jpeg" alt=" photo">
                <div class="des">
                <span>Apple</span>
                <h5>Iphone 12 pro max</h5>
                <div class="star">
                
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                
                </div>
                <h5><s style="color: red;">$1100</s><br>$900</h5>
                </div>
                <a href="#" id="cart"><i class="fa-solid fa-cart-shopping"></i></a>
            <a href="" id="wish"><i class="fa-solid fa-heart"></i></a>
                </div>
                        
                        </div>
                        
                    </section>
            
      
                    <%- include("./partials/footer.ejs") %>


      
    
    
     
    <script>
        function openNav() {
        document.getElementById("mySidenav").style.width = "350px";
        }
        
        function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        }
    </script>


    
       
        
</body>

</html>