<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/Inventory.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <title>Inventory</title>
    <link rel="shortcut icon" type="x-icon" href="../image/4151901.png">
</head>
<body>
    <%- include("./partials/adminheader.ejs") %>
     <main>


    <h2 class="current-items">Current Items</h2>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>value</th>
                <th>Image</th>
                
                <th>Description</th>
                <th>Action</th>
            </tr>
            <tr>
                <td>11212331</td>
                <td>123131</td>
                <td><img src="https://www.cnet.com/a/img/resize/3ff4001d5ee316224817797d2200e0b5f44f48cb/hub/2020/11/09/d0f15941-5210-4a0b-ab66-78a2e58dd245/16-iphone-12-pro-max.jpg?auto=webp&width=1200" width="100px"></td>
                
                <td>1313131313</td>
                <td>1313131313</td>
            </tr>
        </thead>
     
    </table>
   <a href="/ADMIN-ADD" class="additem"> <button>ADD ITEM<span class="las la-arrow-right"></span> </button></a>
     </main>
</body>
</html>