<!DOCTYPE html>
<html>
  <head>
    <title>My EJS Page</title>
  </head>
  <body>
    <select>
      <option value="en">English</option>
      <option value="ar">العربية</option>
    </select>

    <div data-i18n="greeting"></div>
    <div data-i18n="message"></div>

    <script src="/controllers/languageSelector.js"></script>
  </body>
</html>