
/* Global styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Filter form styles */
#filter-form {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#filter-form label {
  margin-right: 10px;
}

#filter-form select,
#filter-form input[type="range"] {
  margin: 10px;
  width: 100%;
  padding: auto;
}
@media only screen and (max-width: 768px) {
  form {
    flex-direction: column;
  }
  input[type="range"] {
    width: 100%;
  }

#filter-form input[type="submit"] {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

/* Product container styles */
#products-container {
  display: flex;
  flex-wrap: wrap;
}

/* Product element styles */
.product {
  width: calc(33.33% - 20px);
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.product h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 16px;
}

.product button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}