a {
  text-decoration: none;
  }
  li {
  list-style: none;
  }
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #A8DADC;
  }
  .nav-links a {
  color: #fff;
  }
  /* LOGO */
  .logo {
  font-size: 32px;
  width: 200px;
  }
  /* NAVBAR MENU */
  .menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
  }
  .menu li:hover {
  background-color: #000000;
  border-radius: 5px;
  transition: 0.3s ease;
  
  }
  
  .menu li {
  
  padding: 5px 14px;
  
  }
  
  input[type=checkbox]{

      display: none;
      
      } 
      
      /*HAMBURGER MENU*/
      
      .hamburger {
      
      display: none;
      
      font-size: 24px;
      
      user-select: none;
      
      }
        
        /* APPLYING MEDIA QUERIES */
        
       
        .product-container {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 50px;
          }
          
          .product-container img {
            max-width: 50%;
            margin: 50px; 
             border: 4px solid #222;
              border-radius: 15%;
              margin-right: 150px;
              
              
          }
        
          
          .product-info {
            display: flex;
            flex-direction: column;
          }
          
          .product-title {
            font-size: 2em;
            font-weight: bold;
            margin-bottom: 20px;
          }
          
          .product-description {
            font-size: 1.2em;
            margin-bottom: 20px;
          }
          
          .product-price {
            font-size: 1.5em;
            font-weight: bold;
            margin-bottom: 30px;
          }
          
          .checkout-button {
            background-color: #4CAF50;
            color: white;
            border: none;
            padding: 10px 20px;
            font-size: 1.2em;
            cursor: pointer;
          }
          
          .checkout-button:hover {
            background-color: #3e8e41;
          }
          @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
.center{
  display: grid;
  place-content: center;
  margin: 20px;
}
.container{
  
  width: 1000px;
  background: #999;
  padding: 20px 30px;
  border: 1px solid #444;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container .post{
  display: none;
}
.container .text{
  font-size: 25px;
  color: #666;
  font-weight: 500;
}
.container .edit{
 
  right: 10px;
  top: 5px;
  font-size: 16px;
  color: #666;
  font-weight: 500;
  cursor: pointer;
}
.container .edit:hover{
  text-decoration: underline;
}
.container .star-widget input{
  display: none;
}
.star-widget label{
  font-size: 40px;
  color: #444;
  padding: 10px;
  float: right;
  transition: all 0.2s ease;
}
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
  color: #fd4;
}
input:checked ~ label{
  color: #fd4;
}
input#rate-5:checked ~ label{
  color: #fe7;
  text-shadow: 0 0 20px #952;
}
#rate-1:checked ~ form header:before{
  content: "I just hate it ";
}
#rate-2:checked ~ form header:before{
  content: "I don't like it ";
}
#rate-3:checked ~ form header:before{
  content: "It is awesome ";
}
#rate-4:checked ~ form header:before{
  content: "I just like it ";
}
#rate-5:checked ~ form header:before{
  content: "I just love it ";
}
.container form{
  display: none;
}
input:checked ~ form{
  display: block;
}
form header{
  width: 100%;
  font-size: 25px;
  color: #fe7;
  font-weight: 500;
  margin: 5px 0 20px 0;
  text-align: center;
  transition: all 0.2s ease;
}
form .textarea{
  height: 100px;
  width: 100%;
  overflow: hidden;
}
form .textarea textarea{
  height: 100%;
  width: 100%;
  outline: none;
  color: #eee;
  border: 1px solid #333;
  background: #222;
  padding: 10px;
  font-size: 17px;
  resize: none;
}
.textarea textarea:focus{
  border-color: #444;
}
form .btn{
  height: 45px;
  width: 100%;
  margin: 15px 0;
}
form .btn button{
  height: 100%;
  width: 100%;
  border: 1px solid #444;
  outline: none;
  background: #222;
  color: #999;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}
form .btn button:hover{
  background: #1b1b1b;
}
.review-section {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.review {
  background-color: #f7f7f7;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.review-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.reviewer-name {
  font-weight: bold;
}

.review-rating {
  color: #ffc107;
  font-size: 20px;
}

.review-text {
  font-size: 14px;
}          

@media (max-width: 768px) {
  #searchin{
    width: 100px;
  }

.menu { 

display:none;

position: absolute;

background-color:teal;

right: 0;

left: 0;

text-align: center;

padding: 16px 0;
z-index: 10;

}

.menu li:hover {

display: inline-block;

background-color:#4c9e9e;

transition: 0.3s ease;

}

.menu li + li {

margin-top: 12px;

}

input[type=checkbox]:checked ~ .menu{

display: block;

}

.hamburger {

display: block;

}


}

@media screen and (max-width: 1000px) {
  .product-container {
    flex-direction: column;
    align-items: center;
  }

  .product-container img {
    margin-right: 0;
  }
 
}
/*footer css*/

div.container-footer.w-container {
  background-color: #111;
  box-sizing: border-box;
  margin-left: auto;
  padding-bottom: 40px;
  padding-top: 70px;
  padding-left: 60px;
  
}

div.container-footer.w-container:after {
  clear: both;
  content: " ";
  display: table;
  grid-column-end: 2;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-row-start: 1;
}

div.container-footer.w-container:before {
  content: " ";
  display: table;
  grid-column-end: 2;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-row-start: 1;
}

div.w-row {
  box-sizing: border-box;
  margin-left: -10px;
  margin-right: -10px;
}

div.w-row:after {
  clear: both;
  content: " ";
  display: table;
  grid-column-end: 2;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-row-start: 1;
}

div.w-row:before {
  content: " ";
  display: table;
  grid-column-end: 2;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-row-start: 1;
}

div.footer-column.w-clearfix.w-col.w-col-4 {
  color: #00ffa2;
  box-sizing: border-box;
  float: left;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  width: 33.3333%;
}

div.footer-column.w-clearfix.w-col.w-col-4:after {
  clear: both;
  content: " ";
  display: table;
  grid-column-end: 2;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-row-start: 1;
}

div.footer-column.w-clearfix.w-col.w-col-4:before {
  content: " ";
  display: table;
  grid-column-end: 2;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-row-start: 1;
}

img.failory-logo-image {
  border-width: 0;
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
}

h3.footer-failory-name {
  width: 200px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: block;
  font-family: Lato, sans-serif;
  font-size: 20px;
  font-weight: 900;
  line-height: 1.1em;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-top: 24px;
}

p.footer-description-failory {
  padding-left: 50px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.8);
  display: block;
  font-family: Lato, sans-serif;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: .5px;
  line-height: 1.5em;
  margin-bottom: 16px;
  margin-top: 15px;
}

br {
  box-sizing: border-box;
}

div.footer-column.w-col.w-col-8 {
  box-sizing: border-box;
  float: left;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  width: 66.6667%;
}

div.w-col.w-col-8 {
  box-sizing: border-box;
  float: left;
  min-height: 1px;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  width: 66.6667%;
}

div.w-col.w-col-7.w-col-small-6.w-col-tiny-7 {
  box-sizing: border-box;
  float: left;
  min-height: 1px;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  width: 58.3333%;
}

h3.footer-titles {
  box-sizing: border-box;
  color: #FFFFFF;
  display: block;
  font-family: Lato, sans-serif;
  font-size: 20px;
  font-weight: 900;
  line-height: 1.1em;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 24px;
}

p.footer-links {
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.8);
  display: block;
  font-family: Lato, sans-serif;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: .5px;
  line-height: 1.8em;
  margin-bottom: 16px;
  margin-top: 2px;
}

a {
  background-color: transparent;
  box-sizing: border-box;
  color: #FFFFFF;
  font-family: Lato, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.2em;
  text-decoration: none;
}

a:active {
  outline: 0;
}
a:hover {
  outline: 0;
}

span.footer-link {
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 300;
}

span.footer-link:hover {
  color: #FFFFFF;
  font-weight: 400;
}

span {
  box-sizing: border-box;
}

strong {
  box-sizing: border-box;
  font-weight: 700;
}

div.w-col.w-col-5.w-col-small-6.w-col-tiny-5 {
  box-sizing: border-box;
  float: left;
  min-height: 1px;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  width: 41.6667%;
}

div.column-center-mobile.w-col.w-col-4 {
  box-sizing: border-box;
  float: left;
  min-height: 1px;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  width: 33.3333%;
}

a.footer-social-network-icons.w-inline-block {
  background-color: transparent;
  box-sizing: border-box;
  color: #FFFFFF;
  display: inline-block;
  font-family: Lato, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.2em;
  margin-right: 8px;
  margin-top: 10px;
  max-width: 100%;
  opacity: .8;
  text-decoration: none;
}

a.footer-social-network-icons.w-inline-block:active {
  outline: 0;
}

a.footer-social-network-icons.w-inline-block:hover {
  opacity: 1;
  outline: 0;
}

img {
  border-width: 0;
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
}

p.footer-description {
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.8);
  display: block;
  font-family: Lato, sans-serif;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: .5px;
  line-height: 1.5em;
  margin-bottom: 16px;
  margin-top: 15px;
}

strong.link-email-footer {
  box-sizing: border-box;
  font-weight: 700;
}



.lab
{
  font-weight: bold;
  font-size: large;
}


@media (max-width: 768px) {
  div.container-footer.w-container {
    padding-left: 20px;
    padding-right: 20px;
    overflow-x: hidden;
  }

  
  div.footer-column.w-clearfix.w-col.w-col-8,
  div.w-col.w-col-8,
  div.w-col.w-col-7.w-col-small-6.w-col-tiny-7,
  div.w-col.w-col-5.w-col-small-6.w-col-tiny-5,
  div.column-center-mobile.w-col.w-col-4 {
    width: 100% !important;
    float: none !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    left:20px;
  }

  h3.footer-titles,
  h3.footer-failory-name {
    font-size: 18px;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  p.footer-description,
  p.footer-description-failory,
  p.footer-links {
    font-size: 15px;
    padding-left: 0;
  }

  /* Additional styles specific to smaller screens */
  /* Add your custom styles here */
}
 /*search bar*/

 .search-wrapper 
 {
   background-color: white;
   border: 1px solid lightgray;
   border-radius: 30px;
   height: 50px;
   display: flex;
   align-items: center;
   overflow: hidden;
 }
 .search-wrapper span
 {
   display: inline-block;
   padding: 0rem 1rem;
   font-size: 1.6rem;
 }
 .search-wrapper input
 {
   width: 400px;
   height: 100%;
   padding: .5rem;
   border: none;
   outline: none;
 }
 